{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container main-content p-2">
    <h2>Mi Perfil</h2>
    <form method="POST" class="mt-4">
        {% csrf_token %}

        <hr class="my-8">

        <h3>Mi perfil</h3>
        <div class="grid grid-cols-1 gap-4 mt-2">
            <div class="flex items-center">
                <label for="id_nombre" class="edit-label">Nombre</label>
                <input type="text" name="nombre" id="id_nombre" value="{{ perfil_form.nombre.value }}" class="w-full rounded-md border border-gray-100 shadow-sm">
            </div>
            <div class="flex items-center">
                <label for="id_email" class="edit-label">Email</label>
                <input type="email" name="email" id="id_email" value="{{ perfil_form.email.value }}" readonly class="w-full rounded-md border border-gray-100 shadow-sm">
            </div>
        </div>

        <hr class="my-8">

        <h3>Dirección</h3>
        <div class="grid grid-cols-1 gap-4 mt-2">
            <div class="flex items-center">
                <label for="id_direccion" class="edit-label">Dirección</label>
                <input type="text" name="direccion" id="id_direccion" 
                    value="{{ direccion_form.direccion.value|default:'' }}" 
                    placeholder="{% if not direccion_form.direccion.value %}Ingresa tu dirección{% endif %}" 
                    class="w-full rounded-md border border-gray-100 shadow-sm">
            </div>
            <div class="flex items-center">
                <label for="id_comuna" class="edit-label">Comuna</label>
                <select name="comuna" id="id_comuna" class="rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option value="" disabled {% if not direccion_form.comuna.value %}selected{% endif %}>Seleccionar comuna</option>
                    {% for comuna in direccion_form.comuna.field.queryset %}
                        <option value="{{ comuna.id }}" {% if comuna.id == direccion_form.comuna.value %}selected{% endif %}>{{ comuna.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <hr class="my-8">

        <button type="submit" class="btn width-50 margin-left-auto">Actualizar</button>
    </form>
</div>
{% endblock %}
