{% extends 'base.html' %}
{% load static %}
{% block title %}{% if editing %}Editar{% else %}Crear{% endif %} Producto{% endblock %}

{% block content %}

<div class="container main-content w-100">
    <h2>{% if editing %}Editar{% else %}Crear{% endif %} producto</h2>
    
    <hr class="my-8">
    
    <form method="post" enctype="multipart/form-data" class="space-y-6">
        {% csrf_token %}
        <div class="flex items-center">
            <label for="id_categoria" class="edit-label">Categoría</label>
            <select id="id_categoria" name="categoria" class="rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <option value="">Seleccione una categoría</option>
                {% for categoria in categorias %}
                <option value="{{ categoria.id }}" {% if editing and form.instance.categoria.id == categoria.id %}selected{% endif %}>
                    {{ categoria.nombre }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="flex items-center">
            <label for="id_subcategoria" class="edit-label">Subcategoría</label>
            <select id="id_subcategoria" name="subcategoria" class="rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <option value="">Seleccione una subcategoría</option>
                {% if editing %}
                    {% for subcategoria in form.subcategoria.queryset %}
                        <option value="{{ subcategoria.id }}" {% if form.instance.subcategoria.id == subcategoria.id %}selected{% endif %}>
                            {{ subcategoria.nombre }}
                        </option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="flex items-center">
            <label for="id_nombre" class="edit-label">Nombre del Producto</label>
            <input type="text" id="id_nombre" name="nombre" value="{{ form.instance.nombre }}" class="w-full rounded-md border border-gray-100 shadow-sm" required>
        </div>
        
        <div class="flex items-center">
            <label for="id_descripcion" class="edit-label">Descripción</label>
            <textarea id="id_descripcion" name="descripcion" class="w-full rounded-md border border-gray-100 shadow-sm" rows="3" required>{{ form.instance.descripcion }}</textarea>
        </div>
        
        <div class="flex items-center justify-between">
            <div class="pr-4">
                <label for="id_marca" class="edit-label pb-2 block">Marca</label>
                <input type="text" id="id_marca" name="marca" value="{{ form.instance.marca }}" class="w-full rounded-md border border-gray-100 shadow-sm" required>
            </div>
            <div class="pr-4">
                <label for="id_precio" class="edit-label pb-2 block">Precio</label>
                <input type="number" id="id_precio" name="precio" value="{{ form.instance.precio }}" class="w-full rounded-md border border-gray-100 shadow-sm" step="0.25" required>
            </div>
            <div>
                <label for="id_stock" class="edit-label pb-2 block">Stock</label>
                <input type="number" id="id_stock" name="stock" value="{{ form.instance.stock }}" class="w-full rounded-md border border-gray-100 shadow-sm" required>
            </div>
        </div>
        <div class="flex product-image-chooser">
            <label for="id_imagen" class="edit-label">Imagen</label>
            <div class="flex justify-between">
                <input type="file" id="id_imagen" name="imagen" class="btn width-50">
                {% if form.instance.imagen %}
                    <img src="{{ form.instance.imagen.url }}" alt="Imagen del producto" class="float-right w-20">
                {% endif %}
            </div>
        </div>

        <hr class="my-8">
        
        <button type="submit" class="btn width-50 margin-left-auto">
            {% if editing %}Actualizar{% else %}Guardar{% endif %} producto
        </button>
    </form>


    <!-- Script para la actualización de las subcategorías -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var categoriaSelect = document.getElementById('id_categoria');
            var subcategoriaSelect = document.getElementById('id_subcategoria');
            categoriaSelect.addEventListener('change', function() {
                var categoriaId = this.value;
                subcategoriaSelect.innerHTML = '';
                if (categoriaId) {
                    fetch("{% url 'productos:obtener_subcategorias' %}?categoria_padre_id=" + encodeURIComponent(categoriaId))
                    .then(response => response.json())
                    .then(data => {
                        var subcategorias = data.subcategorias;
                        subcategoriaSelect.innerHTML = '';
                        if (subcategorias.length > 0) {
                            subcategoriaSelect.appendChild(new Option('Seleccione una subcategoría', '')); 
                            subcategorias.forEach(subcategoria => {
                                subcategoriaSelect.appendChild(new Option(subcategoria.nombre, subcategoria.id));
                            });
                        } else {
                            subcategoriaSelect.appendChild(new Option('No hay subcategorías disponibles', ''));
                        }
                    });
                } else {
                    subcategoriaSelect.innerHTML = '<option value="">Seleccione una subcategoría</option>';
                }
            });
        });
    </script>
</div>
{% endblock %}
