{% extends 'base.html' %}
{% load static %}
{% block title %}Listado de Productos{% endblock %}

{% block content %}
<div id="pagina-principal" class="flex flex-col md:flex-row">
    <!-- Filtro por Categoría -->
    <div class="main-filtro w-full md:w-1/4 p-4">
        <form method="get" action="{% url 'productos:pagina_principal' %}">
            <div class="mb-4">
                <h3 class="pb-3">Categorías</h3>
                <ul class="category-selector">
                    {% for categoria in categorias %}
                        <li>
                            <input id="cat-{{categoria.id}}" type="radio" name="categoria" value="{{ categoria.id }}" {% if categoria_id == categoria.id %}checked{% endif %} class="hidden mr-2">
                            <label for="cat-{{categoria.id}}" class="category-label block py-1 px-2">{{ categoria.nombre }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Filtro por Precios -->
            <div class="mb-4">
                <h3 class="pb-2">Precio</h3>
                <div class="flex justify-between">
                    <label for="precio_min" class="flex items-center">Desde</label>
                    <input type="number" class="filtro-precio ml-2 py-1" id="precio_min" name="precio_min" value="{{ precio_min }}" placeholder="0">
                </div>
                <div class="flex justify-between">
                    <label for="precio_max" class="flex items-center pt-2">Hasta</label>
                    <input type="number" class="filtro-precio ml-2 py-1" id="precio_max" name="precio_max" value="{{ precio_max }}" placeholder="0">
                </div>
            </div>

            {% if subcategorias %}
            <div class="mb-4">
                <h3 class="py-3">Subcategorías</h3>
                <ul class="space-y-2">
                    {% for subcategoria in subcategorias %}
                        <li>
                            <label class="flex items-center">
                                <input type="checkbox" name="subcategoria" value="{{ subcategoria.id }}" {% if subcategoria.id in subcategoria_ids %}checked{% endif %} class="mr-2">
                                {{ subcategoria.nombre }}
                            </label>
                        </li>
                    {% empty %}
                        <li>No hay subcategorías disponibles.</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <!-- Botones de Ordenamiento -->
            <div class="mb-4">
                <h3 class="py-3">Ordenar por Precio</h3>
                <div class="flex flex-col">
                    <button type="submit" name="orden" value="precio_asc" class="btn btn-claro">Precio Ascendente</button>
                    <button type="submit" name="orden" value="precio_desc" class="btn btn-claro">Precio Descendente</button>
                </div>
            </div>

            <button type="submit" class="btn">Aplicar Filtros</button>
        </form>
    </div>
    
    <!-- Listado de Productos -->
    <div class="flex-grow pl-4">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {% for producto in productos %}
                <div class="flex flex-col items-center justify-center p-3 relative shadow-lg transition-all duration-300">
                    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="w-32 h-32 object-cover rounded-full mb-2">
                    <p class="font-semibold text-black tracking-wider text-lg">{{ producto.nombre }}</p>
                    <p class="font-semibold text-gray-600 text-xs">{{ producto.descripcion }}</p>
                    <div class="flex flex-col justify-between items-center w-full mt-2">
                        <p class="text-black font-semibold">${{ producto.precio }}</p>
                        {% if user.is_authenticated %}
                            <form action="{% url 'productos:agregar_carrito' producto.id %}" method="post" class="w-full">
                                {% csrf_token %}
                                <button type="submit" class="btn">Agregar al Carrito</button>
                            </form>
                        {% else %}
                            <a href="{% url 'cuentas:login' %}" class="btn">Agregar al Carrito</a>
                        {% endif %}
                    </div>
                    <ul class="mt-2 text-sm text-gray-600">
                        <li>Categoría: {{ producto.categoria }}</li>
                        <li>Subcategoria: {{ producto.subcategoria }}</li>
                        <li>Marca: {{ producto.marca }}</li>
                        <li>Stock: {{ producto.stock }}</li>
                    </ul>
                </div>
            {% empty %} 
                <div class="col-12">
                    <p>No hay productos disponibles.</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
