{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto mt-6 p-4 bg-white shadow-md rounded-lg">
    <h2 class="text-3xl font-bold text-[#69620e]">Mi Carrito</h2>
    {% if carrito_items %}
        <table class="min-w-full bg-gray-100 rounded-lg shadow-lg mt-4">
            <thead class="bg-[#69620e] text-white">
                <tr>
                    <th class="py-3 px-4 text-left">ID</th>
                    <th class="py-3 px-4 text-left">Producto</th>
                    <th class="py-3 px-4 text-left">Precio</th>
                    <th class="py-3 px-4 text-left">Cantidad</th>
                    <th class="py-3 px-4 text-left">Total</th>
                    <th class="py-3 px-4 text-left">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cp in carrito_items %}
                    <tr class="border-b hover:bg-gray-200">
                        <td class="py-2 px-4">{{ cp.id }}</td>
                        <td class="py-2 px-4">{{ cp.producto.nombre }}</td>
                        <td class="py-2 px-4">${{ cp.producto.precio }}</td>
                        <td class="py-2 px-4">
                            <form action="{% url 'productos:actualizar_cantidad' cp.id %}" method="post" class="inline-block actualizar-cantidad-form">
                                {% csrf_token %}
                                <div class="flex items-center space-x-2">
                                    <button class="bg-gray-300 hover:bg-gray-400 text-gray-700 font-bold py-1 px-2 rounded btn-decrease" type="button" data-id="{{ cp.id }}">-</button>
                                    <input type="number" class="border border-gray-400 rounded text-center cantidad-input w-16" name="cantidad" value="{{ cp.cantidad }}" disabled>
                                    <button class="bg-gray-300 hover:bg-gray-400 text-gray-700 font-bold py-1 px-2 rounded btn-increase" type="button" data-id="{{ cp.id }}">+</button>
                                </div>
                            </form>
                        </td>
                        <td class="py-2 px-4 total-producto" data-id="{{ cp.id }}">$<span id="total-producto-{{ cp.id }}">{{ cp.total_producto }}</span></td>
                        <td class="py-2 px-4">
                            <form action="{% url 'productos:eliminar_item_carrito' cp.id %}" method="post" class="inline-block">
                                {% csrf_token %}
                                <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="mt-6">
            <h4 class="text-xl font-semibold text-[#69620e]">Método de Entrega</h4>
            <form method="post" action="#" class="bg-white p-4 rounded-lg shadow-md mt-2">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="metodo_entrega" class="block text-sm font-medium text-gray-700">Seleccionar Método de Entrega</label>
                    <select class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" name="metodo_entrega" id="metodo_entrega">
                        {% for metodo in metodos_entrega %}
                            <option value="{{ metodo.id }}" data-costo="{{ metodo.costo }}">
                                {{ metodo.nombre }} - {{ metodo.tiempo_estimado }} días - ${{ metodo.costo }} - {{ metodo.descripcion }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <h4 class="text-xl font-semibold text-[#69620e]">Opciones de Donación</h4>
                <div class="mb-4">
                    <label for="porcentaje_donacion" class="block text-sm font-medium text-gray-700">Porcentaje de Donación</label>
                    <select class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" name="porcentaje_donacion" id="porcentaje_donacion">
                        <option value="0" {% if porcentaje_donacion == 0 %}selected{% endif %}>0%</option>
                        <option value="5" {% if porcentaje_donacion == 5 %}selected{% endif %}>5%</option>
                        <option value="10" {% if porcentaje_donacion == 10 %}selected{% endif %}>10%</option>
                        <option value="15" {% if porcentaje_donacion == 15 %}selected{% endif %}>15%</option>
                    </select>
                </div>

                <h4 class="text-xl font-semibold text-[#69620e]">Tipos de Árboles (Opcional)</h4>
                <div class="mb-4">
                    <label for="tipo_arbol" class="block text-sm font-medium text-gray-700">Seleccionar Tipo de Árbol</label>
                    <select class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" name="tipo_arbol" id="tipo_arbol">
                        <option value="">No Apadrinar</option> 
                        {% for arbol in tipos_arbol %}
                            <option value="{{ arbol.id }}" data-costo="{{ arbol.costo }}" {% if arbol.id == selected_arbol %}selected{% endif %}>
                                {{ arbol.nombre }} - ${{ arbol.costo }} - {{ arbol.descripcion }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <h2 class="text-xl font-bold text-[#69620e]">Total Carrito: $<span id="total_carrito">{{ total_carrito }}</span></h2>
                <h4 class="text-lg font-semibold text-[#69620e]">Total Envío: $<span id="costo_envio">{{ costo_envio }}</span></h4>
                <h3 class="text-lg font-semibold text-[#69620e]">Total Donación: $<span id="total_donacion">{{ total_donacion }}</span></h3>
                <h4 id="costo_arbol_section" class="text-lg font-semibold text-[#69620e] hidden">Costo del Árbol: $<span id="costo_arbol">{{ costo_arbol }}</span></h4>
                <h5 class="text-lg font-semibold text-[#69620e]">Total Final (Carrito + Árbol + Envío): $<span id="total_con_arbol">{{ total_con_arbol }}</span></h5>

                <button type="submit" class="mt-4 w-full bg-[#69620e] hover:bg-[#75735A] text-white font-bold py-2 px-4 rounded">Proceder a la Compra</button>
            </form>
        </div>

    {% else %}
        <p class="mt-4 text-lg">No tienes productos en el carrito.</p>
        <a href="{% url 'productos:pagina_principal' %}" class="mt-4 inline-block bg-[#69620e] text-white font-bold py-2 px-4 rounded hover:bg-[#75735A]">Volver a Comprar</a>
    {% endif %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const totalCarritoSpan = document.getElementById('total_carrito');
        const porcentajeDonacionSelect = document.getElementById('porcentaje_donacion');
        const tipoArbolSelect = document.getElementById('tipo_arbol');
        const metodoEntregaSelect = document.getElementById('metodo_entrega');
        const totalDonacionSpan = document.getElementById('total_donacion');
        const costoArbolSpan = document.getElementById('costo_arbol');
        const costoArbolSection = document.getElementById('costo_arbol_section');
        const totalConArbolSpan = document.getElementById('total_con_arbol');
        const costoEnvioSpan = document.getElementById('costo_envio');

        calcularTotal();

        porcentajeDonacionSelect.addEventListener('change', calcularTotal);
        tipoArbolSelect.addEventListener('change', calcularTotal);
        metodoEntregaSelect.addEventListener('change', calcularTotal);

        document.querySelectorAll('.btn-decrease').forEach(button => {
            button.addEventListener('click', () => {
                const form = button.closest('form');
                const input = form.querySelector('.cantidad-input');
                let cantidad = parseInt(input.value, 10);
                if (cantidad > 1) {
                    input.value = cantidad - 1;
                    actualizarCarrito(form, input.value);
                }
            });
        });

        document.querySelectorAll('.btn-increase').forEach(button => {
            button.addEventListener('click', () => {
                const form = button.closest('form');
                const input = form.querySelector('.cantidad-input');
                let cantidad = parseInt(input.value, 10);
                input.value = cantidad + 1;
                actualizarCarrito(form, input.value);
            });
        });

        function actualizarCarrito(form, cantidad) {
            const url = form.action;
            const csrfToken = form.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': csrfToken
                },
                body: new URLSearchParams({
                    'cantidad': cantidad
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const totalProductoElement = document.querySelector(`.total-producto[data-id="${data.item_id}"]`);
                    if (totalProductoElement) {
                        totalProductoElement.textContent = `$${parseFloat(data.nuevo_total_producto).toFixed(2)}`;
                    }
                    const nuevoTotalCarrito = parseFloat(data.nuevo_total_carrito);
                    if (!isNaN(nuevoTotalCarrito)) {
                        totalCarritoSpan.textContent = nuevoTotalCarrito.toFixed(2);
                        calcularTotal(); 
                    }
                }
            })
            .catch(() => {});
        }

        function calcularTotal() {
            const totalCarrito = parseFloat(totalCarritoSpan.textContent);
            const porcentajeDonacion = parseFloat(porcentajeDonacionSelect.value);
            const totalDonacion = calcularDonacion(totalCarrito, porcentajeDonacion);
            totalDonacionSpan.textContent = totalDonacion.toFixed(2);

            const costoArbol = obtenerCostoArbolSeleccionado();
            actualizarSeccionArbol(costoArbol);

            const costoEnvio = obtenerCostoEnvioSeleccionado();
            costoEnvioSpan.textContent = costoEnvio.toFixed(2);

            const totalConArbol = totalCarrito + costoArbol + costoEnvio;
            totalConArbolSpan.textContent = totalConArbol.toFixed(2);
        }

        function calcularDonacion(total, porcentaje) {
            return total * (porcentaje / 100);
        }

        function obtenerCostoArbolSeleccionado() {
            const arbolSeleccionado = tipoArbolSelect.options[tipoArbolSelect.selectedIndex];
            return arbolSeleccionado.value !== "" ? parseFloat(arbolSeleccionado.getAttribute('data-costo')) : 0;
        }

        function obtenerCostoEnvioSeleccionado() {
            const metodoSeleccionado = metodoEntregaSelect.options[metodoEntregaSelect.selectedIndex];
            return metodoSeleccionado ? parseFloat(metodoSeleccionado.getAttribute('data-costo')) : 0;
        }

        function actualizarSeccionArbol(costoArbol) {
            if (costoArbol > 0) {
                costoArbolSection.style.display = "block";
            } else {
                costoArbolSection.style.display = "none";
            }
            costoArbolSpan.textContent = costoArbol.toFixed(2);
        }
    });
</script>
{% endblock %}
