{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Equivale{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800;DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <style type="text/tailwindcss">
        {% include 'assets/css/style.css' %}
    </style>
</head>
<body class="¿flex flex-col min-h-screen">
    <!-- Navbar -->
    <nav id="main-nav">
        <div class="container mx-auto flex justify-between">
            <div class="main-nav-logo flex">
                    <a href="{% url 'productos:pagina_principal'%}" class="flex items-center mr-8">
                    {% include 'assets/svg/logo.svg' %}
                    <h1 class="hidden md:block ml-3">Equivale</h1>
                    </a>
            </div>
            <div class="main-nav-search flex flex-grow">
                <form method="get" action="{% url 'productos:buscar_productos' %}" class="flex flex-grow relative">
                    <input type="text" name="query" placeholder="Buscar..." class="px-3 py-1 focus:outline-none pr-10 flex flex-grow">
                    <button type="submit" class="absolute right-0 top-0 mt-1 mr-3" aria-label="Buscar">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#75735A" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                            <path d="M21 21l-6 -6" />
                        </svg>
                    </button>
                </form>
                
            </div>
            <div class="main-nav-items flex">
                {% if user.is_authenticated %}
                    <a href="{% url 'productos:ver_carrito'%}" class="main-nav-item-link flex items-center">{% include 'assets/svg/icon-carrito.svg' %}
                    </a>
                    <a class="main-nav-item-link hidden md:flex" data-dropdown-toggle="main-nav-profile-dropdown" data-dropdown-trigger="hover">
                        <p class="main-nav-item-text">Hola, {{ user }}</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2a10 10 0 0 1 10 10a10 10 0 0 1-10 10A10 10 0 0 1 2 12A10 10 0 0 1 12 2m-5 8l5 5l5-5z"/></svg>
                    </a>
                    <div id="main-nav-profile-dropdown" class="nav-dropdown hidden z-10 shadow">
                        <ul class="text-sm" aria-labelledby="dropdownDefaultButton">
                            <li>
                                <a href="{% url 'cuentas:perfil' %}" class="block main-nav-item-link">
                                    {% include 'assets/svg/icon-perfil.svg' %}
                                    <p class="main-nav-item-text">Mi perfil</p>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'productos:mis_pedidos'%}" class="block main-nav-item-link">
                                    {% include 'assets/svg/icon-compras.svg' %}
                                    <p class="main-nav-item-text">Mis compras</p>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'productos:productos_vendidos'%}" class="block main-nav-item-link">
                                    {% include 'assets/svg/icon-ventas.svg' %}
                                    <p class="main-nav-item-text">Mis ventas</p>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'productos:listar_productos'%}" class="block main-nav-item-link">
                                    {% include 'assets/svg/icon-tienda.svg' %}
                                    <p class="main-nav-item-text">Mi tienda</p>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'cuentas:logout'%}" class="block main-nav-item-link">
                                    {% include 'assets/svg/icon-logout.svg' %}
                                    <p class="main-nav-item-text">Cerrar sesión</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <a href="{% url 'cuentas:login' %}" class="text-white hidden md:block">Iniciar sesión</a>
                    <a href="{% url 'cuentas:registro' %}" class="text-white hidden md:block">Registrarse</a>
                {% endif %}
                <div class="flex items-center md:hidden">
                    <button id="menu-toggle" class="text-white focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <!-- Mobile Menu -->
    <div id="overlay" class="fixed inset-0 bg-black opacity-90 hidden"></div>
    <div id="mobile-menu" class="fixed top-0 left-0 w-1/2 h-full bg-[#e1e0d9] text-[#4A3C30] transform -translate-x-full transition-transform duration-300">
        <div class="flex flex-col items-center p-4">
            <img src="{% static 'img/logo.png' %}" alt="Logo" class="h-12 mb-4">
            <div class="flex w-full mb-4 justify-center">
                <form method="get" action="{% url 'productos:buscar_productos' %}" class="flex items-center w-full">
                    <input type="text" name="query" placeholder="Buscar..." class="p-2 rounded-l-md focus:outline-none w-3/4 bg-white text-[#75735A]">
                    <button type="submit" class="bg-white text-[#75735A] p-2 rounded-r-md">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#75735A" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                            <path d="M21 21l-6 -6" />
                        </svg>
                    </button>
                </form>
            </div>
            {% if user.is_authenticated %}
                <a href="#" class="text-[#4A3C30] mb-2 hover:underline">Carrito</a>
                <a href="#" class="text-[#4A3C30] mb-2 hover:underline">Perfil</a>
                <a href="#" class="text-[#4A3C30] hover:underline">Mis Productos</a>
            {% else %}
                <a href="{% url 'cuentas:login' %}" class="text-[#4A3C30] mb-2 hover:underline">Iniciar sesión</a>
                <a href="{% url 'cuentas:registro' %}" class="text-[#4A3C30] mb-2 hover:underline">Registrarse</a>
            {% endif %}
        </div>
    </div>

    <!-- Main Content -->
    <main class="flex-grow container mx-auto my-4">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-[#e1e0d9] text-[#75735A] p-4 mt-4">
        <div class="container mx-auto text-center">
            <img src="{% static 'img/logo.png' %}" alt="Logo" class="h-12 mb-2 mx-auto">
            <p>Somos Equivale, creemos en un mercado justo, sustentable y local para todas las personas y empresas.</p>
            <div class="flex justify-center space-x-8 mt-4">
                <div class="flex flex-col items-center">
                    <img src="{% static 'img/qa.png' %}" alt="Preguntas Frecuentes" class="h-12 mb-1">
                    <p class="mb-1"><a href="#" class="underline text-[#75735A]">Preguntas Frecuentes</a></p>
                </div>
                <div class="flex flex-col items-center">
                    <img src="{% static 'img/donacion.png' %}" alt="Donación" class="h-12 mb-1">
                    <p class="mb-1"><a href="#" class="underline text-[#75735A]">Ayúdanos con una donación</a></p>
                </div>
                <div class="flex flex-col items-center">
                    <img src="{% static 'img/arbol.png' %}" alt="Apadrina un Árbol" class="h-12 mb-1">
                    <p><a href="#" class="underline text-[#75735A]">Apadrina un árbol nativo</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        const menuToggle = document.getElementById('menu-toggle');
        const mobileMenu = document.getElementById('mobile-menu');
        const overlay = document.getElementById('overlay');

        menuToggle.addEventListener('click', () => {
            mobileMenu.classList.toggle('-translate-x-full');
            overlay.classList.toggle('hidden');
        });

        overlay.addEventListener('click', () => {
            mobileMenu.classList.add('-translate-x-full');
            overlay.classList.add('hidden');
        });
    </script>
</body>
</html>
